
.loginpage{
display:flex;
flex-direction:column;
align-items: center;
text-align:center;
font-size:25px
}
.containerlog{
    display:flex;
flex-direction:column;
align-items: center;
font-family: 'VT323', monospace;
color:aliceblue;
font-size: 28px
}

.loginimg{
    -webkit-animation: mover1 2.6s infinite  alternate;
    animation: mover1 2.6s infinite  alternate;
}
.loginimg:hover{
    box-shadow: 0 4px 8px 0 #C5EBC3, 0 6px 20px 0 #C5EBC3
}

.submitbtn{
    background-color: #51567b;
    border:#51567b 0px solid
}
.submitbtn:hover{
     box-shadow: 0 4px 8px 0 #C5EBC3, 0 6px 20px 0 #C5EBC3
}
